extends application.pug

block content
  .container-fluid
    .row
      .col-xs-6.offset-xs-3
        form(role='search' action="/search" method="POST")
          .form-group

            h4.text-xs-center Search Users
            input.form-control(name="query" type="text" id="search_query" placeholder="search")

            button.btn.btn-success(type='submit') Search
