extends application.pug

block content
  .container
    h1 Search Results:

    .card.card-block
      if results
        each item in results
          h4(class="card-title")= item.firstname + " " + item.lastname
          p(class="card-text")= "Email: " + item.email
      else
        h4 User is not found
